<!doctype html>
    <html lang="ko">
    <head>  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>승준닷컴</title>
        <style>
          h1{
            font-size:70px;
            border-bottom:solid;
            border-bottom:outset blue;
            margin-bottom:20px;
            margin-top:0px;
          }
          h3{
            margin-top:100px;
          }
            body{
                margin-top:0px;
            }
            form{
              display:inline;
            }
        </style>
    </head>
    <body>
        <h1><a href="/">승준닷컴</a></h1>
        <%if(loging){%>
          <h2 style = "float:right; margin-top:0px;">
            <a href="/user/create_account">회원가입</a>
            <form action = "/user/logout_process" method="post">
                <input type = "submit" value ="로그아웃">
            </form>
          </h2>
            <h2><a href="/topic/create">글 작성<a></h2>
        <%}else{%>
            <h2 style="float:right;">
                <a href="/user/create_account">회원가입</a>
                <a href="/user/login">로그인</a>
            </h2>
        <%}%>
        <h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">author</th>
                <th scope="col">date</th>
              </tr>
            </thead>
          <tbody>
            <%for(let i=list.length-1;i>=0;i--){%>
              <tr>
                <%-list[i]%>
              </tr>
            <%}%>
          </tbody>
          </table>
        <nav>
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <%for(let i = 1;i<numOfpage+1;i++){%>
                <li><a href="/<%=i%>""> <%=i%></a></li>
              <%}%>        
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </h3>
    </body>
    </html>